.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Mon code CSS */
.monHeader {
  background-color: #F6F6F6;
  padding: 10px;
  margin-bottom: 70px;
}

.monLogo {
  height: 100px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.titrePage {
  color: #45b3e2;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}

.textePage {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.titreContact {
  font-size: 30px;
  color: #45b3e2;
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
}

.monButton {
  margin-top: 20px;
  float: right;
}

.champForm {
  float: left;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-top: 35px;
}

.texteFooter {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 10px;
}